* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Itim', cursive;
}
    .container{
        width: 1000px;
        font-family: 'Itim', cursive;
        background-color: #0E2F2F;
        margin-left: 50px;
        margin-right: 20px;
        margin-bottom: 30px;
        margin-top: 30px;
        border-radius: 20px;
    }
    #head{
        text-shadow: 2px 2px 1px rgb(91, 92, 95);
        color: rgb(206, 175, 39);
        text-align: center;
    }
    #label{
        margin-left: 350px;

    }
     #label1{
        margin-left: 350px;

    } 
    
    #label2{
       
        margin-left: 350px;
        font-family: 'Itim', cursive;
      font-size: large;
      letter-spacing: 1px;
        


       
       

    }
    button:hover{
        background-color: rgb(83, 83, 82);
    }
    p{
        margin-left: 500px;
        color: white;
    }
    button{
        background-color: rgb(247, 173, 82);
        border-radius: 10px;
        color: white;
        padding: 15px 15px 15px 15px;
        border-color: rgb(28, 160, 28);
        
        font-weight: 10px;
        font-family: 'Itim', cursive;
        font-size: large;
      
    }
    input{
        border-radius: 15px;
        background-color: rgba(169, 169, 169, 0.637);
    }
    #link{
        margin-left: 400px;
        color: white; 
        font-size: x-large;
    }
    body{
        background-color: #f2f2f2;
    }
